.history-container {
	padding: 2em;
	background-image: url("../background\ picture\ -\ bottom.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position-y: bottom;
	padding-bottom: 15%;
}

.history-title {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	padding-bottom: 1em;
}

.history-items-container {
	padding: 1em;
	align-items: center;
	gap: 5%;
	display: grid;
	grid-template-columns: repeat(auto-fill, 25em);
	justify-content: center;
}

.history-item {
	background-color: rgb(233, 241, 253);
	border-radius: 1em;
	width: 20vw;
	padding: 1em;
	border: 2px solid rgb(253, 250, 233);
	justify-self: center;
}

.history-year {
	font-size: 1.5em;
	font-weight: bold;
	color: #007bff;
}

.history-degree {
	font-size: 1.5em;
	font-weight: bold;
}

.history-institution {
	font-size: 1.25em;
}

.history-subjects {
	font-size: 1.15em;
	padding-left: 0.5em;
}

@media (max-width: 1000px) {
	.history-items-container {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.history-item {
		width: 100%;
	}
}
