@import url(../colours.css);

.history-container {
}

.history-title {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	padding-bottom: 1em;
	color: var(--text);
}

.history-items-container {
	padding: 1em;
	align-items: center;
	gap: 5%;
	display: grid;
	grid-template-columns: repeat(auto-fill, 25em);
	justify-content: center;
}

.history-item {
	background-color: var(--colour2);
	border-radius: 1em;
	width: 20vw;
	padding: 1em;
	border: 2px solid var(--colour1);
	justify-self: center;
}

.history-year {
	font-size: 1.5em;
	font-weight: bold;
	color: #007bff;
}

.history-degree {
	font-size: 1.5em;
	font-weight: bold;
	color: var(--text-secondary);
}

.history-institution {
	font-size: 1.25em;
	color: var(--text-secondary);
}

.history-subjects {
	font-size: 1.15em;
	padding-left: 0.5em;
	color: var(--text-secondary);
}

@media (max-width: 1000px) {
	.history-items-container {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.history-item {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.history-container {
		padding: 1em;
	}
}
