.education-container {
	padding: 2em;
}

.education-title {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	padding-bottom: 1em;
}

.education-items-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 1em;
	align-items: center;
	gap: 5%;
}

.education-item {
	background-color: rgb(233, 241, 253);
	border-radius: 1em;
	width: 20vw;
	box-shadow: 0px 0px 25px 2.5px black;
	padding: 1em;
}

.education-year {
	font-size: 1.5em;
	font-weight: bold;
	color: #007bff;
}

.education-degree {
	font-size: 1.5em;
	font-weight: bold;
}

.education-institution {
	font-size: 1.25em;
}

.education-subjects {
	font-size: 1.15em;
	padding-left: 0.5em;
}

.arrow {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 30px solid black;
}

@media (max-width: 768px) {
	.education-items-container {
		flex-direction: column;
	}

	.education-item {
		width: 100%;
	}

	.arrow {
		visibility: hidden;
	}
}
