.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.profile-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
	justify-content: flex-start;
	margin: 1em;
}

.profile-picture {
	width: 5em;
	height: 5em;
	border: 3px solid black;
	border-radius: 50%;
}

.profile-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.name {
	font-size: 2em;
}

.occupation {
	font-size: 1.5em;
	color: #737373;
}

.links {
	margin: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1em;
	align-items: center;
}

.links a {
	font-size: 2em;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.links a:hover {
	color: brown;
}

@media (max-width: 768px) {
	.container {
		display: unset;
		flex-direction: unset;
		justify-content: unset;
		margin-top: 1em;
	}
	.profile-container {
		justify-content: center;
		flex-direction: column;
	}
	.links {
		display: none;
	}
}
