.introduction-container {
	background-color: #e1e1e1;
	height: 10em;
	width: 35em;
	border-radius: 1em;
	padding: 1em;
	display: flex;
	align-items: center;
	margin-left: 50%;
	transform: translate(-50%);
	margin-top: 10%;
}

.emoji {
	font-size: 6em;
}

.intro {
	font-size: 1.75em;
}

.highlight {
	font-size: 1.25em;
	color: #d47602;
}

@media (max-width: 768px) {
	.introduction-container {
		width: unset;
		transform: unset;
		margin-left: unset;
		height: auto;
		margin-top: unset;
		margin-inline: 1em;
	}

	.emoji {
		position: absolute;
		visibility: hidden;
	}
}
