.body {
  background-color: white;
  padding: 1em;
  font-family: 'Times New Roman', Times, serif;
}

.profile-picture {
  width: 128px;
  height: 128px;
  border: 3px solid black;
  border-radius: 50%;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.profile-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 2em;
}

.occupation {
  font-size: 1.5em;
  color: #737373;
}

.introduction-container {
  background-color: #E1E1E1;
  height: 10em;
  width: 35em;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.emoji {
  font-size: 6em;
}

.intro {
  font-size: 1.75em;
}

.highlight {
  font-size: 1.25em;
  color: #D47602;
}

.projects-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 105%);
}

.projects-title {
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em;
  width: 100%;
}

.projects-cards {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.projects-cards>* {
  width: 30em;
  height: 30em;
}

.projects-cards> :first-child {
  background-color: #0261D4;
}

.projects-cards> :nth-child(2) {
  background-color: #FEA9A4;
}

.projects-cards> :nth-child(3) {
  background-color: #D47602;
}



.project-title {
  font-size: 2.5em;
  text-align: center;
  padding: 0.25em;
}

.bounce {
  animation: bounce 0.75s ease;
  animation-fill-mode: both;
}

@keyframes bounce {

  0%,
  100% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(0.95);
  }
}

