.body {
  background-color: white;
  padding: 1em;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  width: 100%;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .profile-container {
    justify-content: center;
  }
}

.profile-picture {
  width: 5em;
  height: 5em;
  border: 3px solid black;
  border-radius: 50%;
}

.profile-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 2em;
}

.occupation {
  font-size: 1.5em;
  color: #737373;
}

.introduction-container {
  background-color: #E1E1E1;
  height: 10em;
  width: 35em;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  margin-left: 50%;
  transform: translate(-50%);
  margin-block: 10%;
}

@media (max-width: 768px) {
  .introduction-container {
    max-width: 90%;
    height: auto;
    position: unset;
    transform: unset;
    margin-left: 50%;
    transform: translate(-50%);
    margin-block: 30%;
  }
}

.emoji {
  font-size: 6em;
}

@media (max-width: 768px) {
  .emoji {
    position: absolute;
    visibility: hidden;
  }
}

.intro {
  font-size: 1.75em;
}

.highlight {
  font-size: 1.25em;
  color: #D47602;
}

.projects-container {
  width: 100%;
}

@media (max-width: 768px) {
  .projects-container {
    margin-left: unset;
    transform: unset;
    width: auto;
  }
}

.projects-title {
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .projects-title {
    margin-bottom: 0;
  }
}

.projects-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  padding-inline: 1em;
}

@media (max-width: 768px) {
  .projects-cards {
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }
}

.projects-cards>* {
  width: 30em;
  height: 30em;
  max-width: 100%;
}

.projects-cards> :first-child {
  background-color: #3a91fc;
}

.projects-cards> :nth-child(2) {
  background-color: #FEA9A4;
}

.projects-cards> :nth-child(3) {
  background-color: #D47602;
}

.project-title {
  font-size: 2.5em;
  text-align: center;
  padding: 0.25em;
}

.project-description {
  font-size: 1.25em;
}

.project {
  padding: 1em;
  scale: 1;
  transition: all 0.5s;
}

.bounce {
  padding: 1em;
  scale: 1.25;
  z-index: 1;
  transition: all 0.5s;
}

.goToProjectButton {
  position: absolute;
  bottom: 1em;
  right: 1em;
  height: 5em;
  width: 5em;
  background-color: white;
  border: 0;
  border-radius: 50%;
  transition: all 0.75s;
  text-align: center;
}

.goToProjectButton:hover {
  scale: 1.2;
  transition: all 0.75s;
}

.goToProjectButtonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2em;
}

.education-container {
  background-color: greenyellow;
}

.education-title {
  font-size: 3em;
  text-align: center;
}